@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opsional: Custom scrollbar agar sesuai tema hacker */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #0f0f0f;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8b5cf6; /* Warna ungu saat di-hover */
}
